{% block header %}
    <section id="header" class="section">
        <section class="container {{ grid_size }}">
            <nav class="navbar">
                <section class="navbar-section logo branding">
                    {% include 'partials/branding.html.twig' %}
                </section>
                <section class="navbar-section desktop-menu">

                    <nav class="dropmenu animated">
                        {% block header_navigation %}
                            {% include 'partials/navigation.html.twig' %}
                        {% endblock %}
                    </nav>

                    {% if config.plugins.login.enabled and grav.user.username %}
                        <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                    {% endif %}

                </section>
            </nav>
        </section>
    </section>
    <div class="mobile-menu">
        <div class="button_container" id="toggle">
            <span class="top"></span> <span class="middle"></span> <span class="bottom"></span>
        </div>
    </div>
{% endblock %}
