.btn, .button {
    color:            var(--dominant-contrast) !important;
    background-color: var(--dominant) !important;
    border:           0.05rem solid var(--foreground-seethrough) !important;
}
